html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

/* Message.js */

.messages {
  height: 360px;
  overflow-y: scroll;
}

/* MessageForm.js */

.message__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}
/* sidepanel.js */
.menu {
  overflow-y: scroll;
}

/* Message.js */
.messageSelf {
  border-left: 2px solid blueviolet;
  padding-left: 5px;
}

.message__image {
  padding: 1em;
}
